<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <link rel="icon" href="../../../../favicon.ico">
    <title>Memories: Overflow</title>
    <!--<link href="../static/bootstrap-4.5/css/bootstrap.min.css" rel="stylesheet">-->
    <!-- Custom styles for this template-->
    <link href="../static/css_custom/login.css" rel="stylesheet">
  </head>
  <body class="body">
    <div class="container">
      <div class="box">
        <img src="../static/images/memories_overflow_readme.png" alt="" width="697" height="378">
      </div>
      <div class="box">
        <form>
          <h1>Log-in</h1>
          <label for="inputEmail">Email address</label>
          <input type="email" id="inputEmail" placeholder="Email address" required autofocus>
          <label for="inputPassword" >Password</label>
          <input type="password" id="inputPassword" placeholder="Password" required>
          <div>
            <label>
              <input type="checkbox" value="remember-me"> Lembrar
            </label>
          </div class="box">
          <button type="submit">Entrar</button>
        </form>
      </div>
    </div>
    </div>
  </body>
</html>